In [11]:
import pandas as pd

In [12]:
certificates_earned_series = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned_series)

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64

In [13]:
certificates_earned_df = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})

certificates_earned_df.index = ["Tom", "Kris", "Ahmed", "Beau"]

certificates_earned_df

       Certificates  Time (in months)
Tom               8                16
Kris              2                 5
Ahmed             5                 9
Beau              6                12

In [3]:
print(certificates_earned_df2.iloc[2])

Certificates        5
Time (in months)    9
Name: Ahmed, dtype: int64

In [ ]:
# LaTeX: jupyter nbconvert --to latex myfile.ipynb

$$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$$

In [4]:
import pandas as pd

certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})
names = ['Tom', 'Kris', 'Ahmad', 'Beau']

certificates_earned.index = names
longest_streak = pd.Series([13, 11, 9, 7], index=names)
certificates_earned['Longest streak'] = longest_streak

print(certificates_earned)

       Certificates  Time (in months)  Longest streak
Tom               8                16              13
Kris              2                 5              11
Ahmad             5                 9               9
Beau              6                12               7